header {
  border: black solid 1px;
  text-align: center;
  padding: 30px;
}

.panelButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  /* position: fixed; */
}

li {
  border: black solid 1px;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 5px;
}

.bottom-of-article {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;

  padding: 0px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .card {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.article-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.comment-title {
  text-align: center;
}

.bottom-comments {
  display: flex;
  justify-content: space-between;
}

.vote-numb {
  text-align: center;
  margin: 0px;
}

.article-vote {
  margin-right: 4px;
}

.top-arrow-clicked {
  color: green;
}

.bottom-arrow-clicked {
  color: red;
}

#textboxid {
  width: 84%;

  /* font-size: 14pt; */
}
